/*css general*/
:root {
    --ColoresTextos: white;
}

html {
    font-size: 22px;
}

@import'https://fonts.googleapis.com/css2?family=Style+Script&display=swap';

.textos {
    font-family: 'Style Script', cursive;
    color: var(--ColoresTextos);

}

body {
    background-color: black;
}

.titulos {
    font-family: 'Style Script', cursive;
    font-size: 1.5rem;
    word-spacing: 5px;
    color: rgb(139, 0, 0);
}

.TextoFlex {
    display: flex;
    justify-content: center;
}

/*css seccion index*/

.banner {
    display: flex;
    justify-content: center;
    margin:10px;
}

.otros {
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

/*css seccion galeria*/

.galeria {
    display: none;

}

.GridContainer {
    width: auto;
    color: white;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
    margin-left: 33%;

}

@media only screen and (max-width: 576px) {

    .GridContainer {
        display: block;
        justify-content: center;
    
    }    

}

.ImagenesGrid {
    height: 100%;
    width: 100%;
    border: 2px solid violet;
    transition: all 1.5s;
}

.ImagenesGrid:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -moz-transform: scale(1.4);
}

/*css seccion equipo*/


.carta{
    display: flex;
    justify-content: center !important;
 
}

.card{
    border: solid 2px red; 
}

/*css seccion videos*/
.VideosContainer {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.TextosVideo {
    display: flex;
    justify-content: center;
    color: white;
}

/*css seccion contactos*/

.Contacto {
    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid red;
    border-radius: 10px;
    border-top: solid red;
    color: var(--ColoresTextos);
    margin: 80px 0px;
    z-index: 1500;
}

/*css footer*/
footer {
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: #fff;
    margin: 20px 0px;
    border-top: solid 4px red;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 5px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i {
    color: red;
}

.footer-bottom {
    background: #000;
    width: 50vw;
    text-align: center;
}