
.carta{
    display: flex;
    justify-content: center !important;
    
    .card{
        border: map-get($bordes, linea) map-get($bordes, ancho)  map-get($bordes, color); 
        background-color: black !important;
        
        .card-body{
            background-color: black !important;
            .card-title{
                color: red !important;
            }
            .card-text{
                color: white !important;
            }
        }
    }
}






