@import'https://fonts.googleapis.com/css2?family=Style+Script&display=swap';
@import'https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap';

$bordes: (
    linea: solid,
    color: red,
    ancho: 2px,
);