
.VideosContainer {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.TextosVideo {
    display: flex;
    justify-content: center;
    color: white;
}
.videos{
    text-align: center;
}

@media only screen and (max-width: 900px) {

    .videoo {
    min-width: 100%;
    }    

}